# Possible build dirs:
build/

# System files
*.DS_Store*

# Project files
CMakeLists.txt.user
demo-player.pro.user

# Debian/build
obj*
debian/*debhelper*
debian/*substvars*
debian/files
debian/libvlc-qt/
debian/libvlc-qt-*/
debian/tmp/
