#!/usr/bin/make -f
export DH_VERBOSE=1

ifndef LIBVLC_VERSION
	LIBVLC_VERSION=0x020200
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
		-DNO_GIT=ON -DGITBUILD=${GIT_COMMIT} \
		-DLIBVLC_VERSION=${LIBVLC_VERSION} -DSYSTEM_QML=ON

override_dh_auto_test:
	echo "Skip dh_auto_test"

override_dh_strip:
	dh_strip --dbg-package=libvlc-qt-dbg
