/****************************************************************************
* VLC-Qt - Qt and libvlc connector library
* Copyright (C) 2012 Tadej Novak <tadej@tano.si>
*
* This library is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as published
* by the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This library is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this library. If not, see <http://www.gnu.org/licenses/>.
*****************************************************************************/

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,8,0,0
 PRODUCTVERSION 0,8,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Tadej Novak"
            VALUE "FileDescription", "VLC-Qt - Qt bindings for libVLC"
            VALUE "FileVersion", "0.8.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2012 Tadej Novak."
            VALUE "InternalName", "vlc-qt-qml"
            VALUE "OriginalFilename", "vlc-qt-qml.dll"
            VALUE "ProductName", "VLC-Qt"
            VALUE "ProductVersion", "0.8.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
